{% if S_TPOTM %}

	<h3>
	{{ lang('TPOTM_CAT') }}
	{% if S_IS_RHEA %}
		<i class="icon fa-trophy fa-fw icon-lg" aria-hidden="true" title="{{ lang('TPOTM_EXPLAIN') }}" ></i>
	{% elseif S_IS_BADGE_IMG %}
		<img src="{{ TPOTM_UCP_BADGE }}" class="tpotm-ucp-badge" title="{{ lang('TPOTM_EXPLAIN') }}" />
	{% else %}
		{{ lang('TPOTM_BADGE') }}
	{% endif %}
	{{ lang('USER_TOOLTIP_HOVER') }}
	</h3>

	<dl>
		<dt><label for="user_tooltip1">{{ lang('USER_TOOLTIP') }}{{ lang('COLON') }}</label><br><span>{{ lang('USER_TOOLTIP_EXPLAIN') }}</span></dt>
		<dd>
			<label for="user_tooltip1"><input type="radio" name="user_tooltip" id="user_tooltip1" value="1" {% if S_USER_TOOLTIP %} checked="checked" {% endif %} /> {{ lang('YES') }}</label>
		
			<label for="user_tooltip0"><input type="radio" name="user_tooltip" id="user_tooltip0" value="0" {% if not S_USER_TOOLTIP %} checked="checked" {% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>

{% endif %}
