{# {% if S_USER_TOOLTIP %} #}

{# {% endif %} #}

<hr />
<dl>
	<dt><label for="user_tooltip1">{{ lang('USER_TOOLTIP') }}{L_COLON}</label><br><span>{{ lang('USER_TOOLTIP_EXPLAIN') }}</span></dt>
	<dd>
		<label for="user_tooltip1"><input type="radio" name="user_tooltip" id="user_tooltip1" value="1" {% if S_USER_TOOLTIP %} checked="checked"{% endif %} /> {L_YES}</label>
		<label for="user_tooltip0"><input type="radio" name="user_tooltip" id="user_tooltip0" value="0" {% if not S_USER_TOOLTIP %} checked="checked"{% endif %} /> {L_NO}</label>
	</dd>
</dl>

