a.tpotm-header-avatar img {
	padding-right: 2px;
	max-height: 14px;
	vertical-align: bottom;
	width: auto;
}

.tpotm-miniprofile-badge {
	padding-left: 4px;
	max-height: 14px;
	vertical-align: bottom;
	width: auto;
}

/***************************************
* This section is for the hall of fame *
***************************************/
.tpotm-div-1 {
	padding: 5px 10px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
	border-radius: 7px;
	position: relative;
	margin: 10px;
	box-shadow: 1px 2px 3px grey;
	font-size:14px;
}

.tpotm-div-2 {
	margin-left: -20px;
	margin-top: -15px;
	padding: 3px;
}

.tpotm-div-3 {
	margin: 2px auto;
	text-align: center;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-color: #80BF00;
}

.tpotm-div-4 {
	position: relative;
	top: 10px;
	left: 10px;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #ECF3F7;
}

.tpotm-span-1 {
	top: 40px;
	position: relative;
	font-size: 16px;
	font-weight: bold;
}

.tpotm-div-5 {
	text-align: center;
	font-weight: bold;
}

a.header-avatar-tpotm img {
	margin-bottom: 2px;
	width: 80px;
	height: 80px;
	box-shadow: 1px 2px 3px grey;
	border-radius: 25%;
	background-color: transparent;
}

.icon-tpotm-hall {
	background-image: url("./images/icon-tpotm-hall.png");
	background-repeat: no-repeat;
}

.icon-tpotm-stats {
	background-image: url("./images/icon-tpotm-hall.png");
	background-repeat: no-repeat;
	padding-left: 16px;
	max-height: 14px;
	vertical-align: bottom;
	width: auto;
}

/* Main viewport container, uses flex row wrap */
#tpotm-container {
	background: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	overflow: auto;
	max-height: 420px;
	justify-content: space-around;

}

/* Each element within the viewport container */
.flex-item {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1;
}

/* Avatar container */
.flex-avatar {
	border-width: 2px;
	padding: 1px;
	border-style: solid;
	vertical-align: middle;
	display: inline-flex;
}

/* Avatar image */
.flex-avatar img {
	width: 32px;
	height: 32px;
}

/* The wrapper for each user content - default packed */
.flex-cell {
	background: none;
	border-width: 2px;
	padding: 3px;
	border-style: solid;
	border-color: #729ea5;
	width: 200px;  /* Or whatever */
	height: 66px; /* Or whatever */
	vertical-align: middle;
	display: flex;
	align-items: start;
}

/***************************************
* End section hall of fame             *
***************************************/
