a.tpotm-header-avatar img {
	padding-right: 2px;
	max-height: 14px;
	vertical-align: bottom;
	width: auto;
}

.tpotm-miniprofile-badge {
	padding-left: 4px;
	max-height: 14px;
	vertical-align: bottom;
	width: auto;
}

.icon-tpotm-hall {
	background-image: url("./images/icon-tpotm-hall.png");
	background-repeat: no-repeat;
}

.icon-tpotm-stats {
	background-image: url("./images/icon-tpotm-hall.png");
	background-repeat: no-repeat;
	padding-left: 16px;
	max-height: 14px;
	vertical-align: bottom;
	width: auto;
}
