{% if S_TPOTM %}
	<h3>{{ lang('TPOTM_CAT') }}</h3>

	<p>{{ lang('TPOTM_NOW') }}
		{% if S_TPOTM_AVATAR %}
				<a href="{{ U_TPOTM_AVATAR_URL }}"><img class="header-avatar" height="16" width="auto" {{ TPOTM_AVATAR }}</a>
		{% endif %}
		<b>{{ TPOTM_NAME }}</b>{{ lang('TPOTM_POST') }}{{ lang('TOTAL_MONTH') }}
		{% if S_IS_RHEA %}
			&nbsp;<i class="icon fa-question-circle-o fa-fw" aria-hidden="true" title="{{ lang('TPOTM_EXPLAIN') }}" ></i>
		{% else %}
			&nbsp;<img class="icon icon-tpotm-stats" title="{{ lang('TPOTM_EXPLAIN') }}" ></img>
		{% endif %}
	{{ lang('TPOTM_CACHE') }}</p>
{% endif %}
