{% if S_TPOTM %}

	<h3>
	{% if S_TPOTM_HALL %}
		<a href="{{ U_TPOTM_HALL }}">{{ lang('TPOTM_CAT') }}</a>
	{% else %}
		{{ lang('TPOTM_CAT') }}
	{% endif %}
	</h3>

	<p>
	{{ lang('TPOTM_NOW') }}
		{% if S_TPOTM_AVATAR %}
			<a href="{{ U_TPOTM_AVATAR_URL }}" class="header-avatar">{{ TPOTM_AVATAR }}</a>
		{% endif %}

		<b>{{ TPOTM_NAME }}</b>

		{% if S_TPOTM_AVAILABLE %}
			{{ lang('TPOTM_POST') }}{{ lang('TOTAL_MONTH') }}
		{% endif %}

		{% if S_IS_RHEA %}
			<i class="icon fa-question-circle-o fa-fw" aria-hidden="true" {% if S_U_TOOLTIP_SEL %}title="{{ lang('TPOTM_EXPLAIN') }}"{% else %}title="{{ lang('TPOTM_NO_EXPLAIN') }}"{% endif %} ></i>
		{% else %}
			<img src="{{ TPOTM_ICON_STATS }}" class="icon icon-tpotm-stats" {% if S_U_TOOLTIP_SEL %}title="{{ lang('TPOTM_EXPLAIN') }}"{% else %}title="{{ lang('TPOTM_NO_EXPLAIN') }}"{% endif %}  alt="{{ lang('TPOTM_NO_EXPLAIN') }}">
		{% endif %}
	{{ lang('TPOTM_CACHE') }}
	</p>

{% endif %}
