{% include 'overall_header.html' %}
<h2 class="solo">{{ DEMO_MESSAGE }}</h2>

<div id="tpotm-container" class="tpotm-container">
	{% for tpotm_ever in loops.tpotm_ever %}
	<div class="flex-cell">
		<div class="item">
			<div id="" class="flex-avatar">{{ tpotm_ever.USER_AVATAR }}</div>
			<span>{{ tpotm_ever.USERNAME }}</span>
			<div id="" class="">
				{{ tpotm_ever.YEAR }}&nbsp;{{ tpotm_ever.MONTH }}{{ tpotm_ever.USER_ID }}
			</div>
			<div id="" class="">
				{{ lang('TPOTM_TOT_POST') }}{{ lang('COLON') }}&nbsp;{{ tpotm_ever.TOTAL_POSTS	}}&nbsp;{{ tpotm_ever.YEAR }}&nbsp;{{ tpotm_ever.MONTH }}{{ tpotm_ever.USER_ID }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% include 'overall_footer.html' %}
