{% include 'overall_header.html' %}
<h2 class="solo">{{ DEMO_MESSAGE }}</h2>

<div class="panel bg1">
	<div class="inner">
		<h3>{{ lang('TPOTM_CAT') }}</h3>
		<div class="tpotm-div-1">
			<div class="tpotm-div-2">
				{% if S_TPOTM_AVATAR %}
					<a href="{{ U_TPOTM_AVATAR_URL }}" class="header-avatar-tpotm">{{ TPOTM_AVATAR }}</a>
				{% endif %}
				{{ TPOTM_NAME }}
			</div>
			{{ TPOTM_POST }}
			<div class="tpotm-div-3" style="background-image: linear-gradient({{ DEGREE }}deg, transparent 50%, {% if PERCENT > 50 %}#80BF00{% else %}#CCCCCC{% endif %} 50%), linear-gradient(90deg, #CCCCCC 50%, transparent 50%)">
				<div class="tpotm-div-4">
					<span class="tpotm-span-1">
						{{ PERCENT }}&#37;
					</span>
				</div>
			</div>
			<br>
			<div class="tpotm-div-5">
				{{ lang('TPOTM_POST') }}{{ lang('TOTAL_MONTH_HALL') }}{{ TOT_POSTS_MONTH }}{{ lang('TPOTM_CACHE') }}
				{% if S_IS_RHEA %}
					&nbsp;<i class="icon fa-question-circle-o fa-fw" aria-hidden="true" title="{{ lang('TPOTM_EXPLAIN') }}" style="cursor: pointer;"></i>
				{% else %}
					&nbsp;<img class="icon icon-tpotm-stats" title="{{ lang('TPOTM_EXPLAIN') }}" style="cursor: pointer;"></img>
				{% endif %}
			</div>
		</div>
	</div>	
</div>

{# start Hall of fame #}

<h3>{{ lang('TPOTM_EVER_CAT') }}
	{% if S_IS_RHEA %}
		&nbsp;<i class="icon fa-question-circle-o fa-fw" aria-hidden="true" title="{{ lang('TPOTM_EXPLAIN_HALL') }}" style="cursor: pointer;"></i>
	{% else %}
		&nbsp;<img class="icon icon-tpotm-stats" title="{{ lang('TPOTM_EXPLAIN_HALL') }}" style="cursor: pointer;"></img>
	{% endif %}
</h3>

<div class="action-bar top">
	{% if pagination or TOTAL_USERS %}
	<div class="pagination">
		 {COUNT}
		{% if pagination %}
			{% include 'pagination.html' %}
		{% else %}
			&bull; {PAGE_NUMBER}
		{% endif %}
	</div>
	{% endif %}
</div>

<div class="panel bg1">
	<div class="inner">
		<div id="tpotm-container" class="tpotm-container">
			{% for tpotm_ever in loops.tpotm_ever %}
			<div class="flex-cell">
				<div class="item">
					<div id="" class="flex-avatar">{{ tpotm_ever.USER_AVATAR }}</div>
					<span>{{ tpotm_ever.USERNAME }}</span>
					<div id="" class="">
						{{ lang('TPOTM_TOT_POST') }}{{ lang('COLON') }}&nbsp;{{ tpotm_ever.TOTAL_POSTS	}}
					</div>
					<div id="" class="">
						{{ lang('TPOTM_LAST_POST_IN_MONTH') }}{{ lang('COLON') }}&nbsp;{{ tpotm_ever.POST_TIME	}}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="action-bar bottom">
	{% if pagination or TOTAL_USERS %}
	<div class="pagination">
		 {COUNT}
		{% if pagination %}
			{% include 'pagination.html' %}
		{% else %}
			&bull; {PAGE_NUMBER}
		{% endif %}
	</div>
	{% endif %}
</div>

{# end Hall of fame #}

{% include 'jumpbox.html' %}
{% include 'overall_footer.html' %}
