{% if S_TPOTM and S_TPOTM_HALL %}

{% include 'overall_header.html' %}

<h2 class="tpotm-head-text">{{ lang('TPOTM_HELLO') }}</h2>

<div class="panel bg1">
	<div class="inner">
		<h3>{{ lang('TPOTM_CAT') }}</h3>
		<div class="tpotm-div-1">
			<div class="tpotm-div-2">
				<a href="{{ U_TPOTM_AVATAR_URL }}" class="hall-avatar-tpotm">{{ TPOTM_AVATAR_HALL }}</a>
				<span class="text2"> {{ TPOTM_NAME }}</span>
			</div>
			<span class="text1">{{ TPOTM_POST }}</span>
			<div class="tpotm-div-3" style="background-image: linear-gradient({{ DEGREE }}deg, transparent 50%, {% if PERCENT > 50 %}#80BF00{% else %}#CCCCCC{% endif %} 50%), linear-gradient(90deg, #CCCCCC 50%, transparent 50%)">
				<div class="tpotm-div-4">
					<span class="tpotm-span-1">
						{% if not S_TPOTM_AVAILABLE %}
							0&#37;
						{% else %}
							{{ PERCENT }}&#37;
						{% endif %}
					</span>
				</div>
			</div>
			<br>
			<div class="tpotm-div-5">
				{% if S_TPOTM_AVAILABLE %}
					{{ lang('TPOTM_POST') }}{{ lang('TOTAL_MONTH') }}
				{% endif %}
				{{ lang('TPOTM_CACHE') }}
				{% if S_IS_RHEA %}
					<i class="icon fa-question-circle-o fa-fw" aria-hidden="true" {% if S_U_TOOLTIP_SEL %}title="{{ lang('TPOTM_EXPLAIN') }}"{% else %}title="{{ lang('TPOTM_NO_EXPLAIN') }}"{% endif %} style="cursor: pointer;"></i>
				{% else %}
					<img src="{{ TPOTM_ICON_STATS }}" class="icon icon-tpotm-stats" {% if S_U_TOOLTIP_SEL %}title="{{ lang('TPOTM_EXPLAIN') }}"{% else %}title="{{ lang('TPOTM_NO_EXPLAIN') }}"{% endif %} alt="{{ lang('TPOTM_NO_EXPLAIN') }}">
				{% endif %}
			</div>
		</div>
	</div>	
</div>

{# start Hall of fame #}
<h3>{{ lang('TPOTM_EVER_CAT') }}
	{% if S_IS_RHEA %}
		<i class="icon fa-question-circle-o fa-fw" aria-hidden="true" {% if S_U_TOOLTIP_SEL %}title="{{ lang('TPOTM_EXPLAIN_HALL') }}"{% else %}title="{{ lang('TPOTM_HALL_NO_EXPLAIN') }}"{% endif %} style="cursor: pointer;"></i>
	{% else %}
		<img src="{{ TPOTM_ICON_STATS }}" class="icon icon-tpotm-stats" {% if S_U_TOOLTIP_SEL %}title="{{ lang('TPOTM_EXPLAIN_HALL') }}"{% else %}title="{{ lang('TPOTM_HALL_NO_EXPLAIN') }}"{% endif %} >
	{% endif %}
</h3>

{# display top posters ever only if there are some #}
{% if loops.tpotm_ever %}
	<div class="action-bar top">
		{% if loops.pagination or TOTAL_USERS %}
		<div class="pagination">
			 {COUNT}
			{% if loops.pagination %}
				{% include 'pagination.html' %}
			{% else %}
				&bull; {PAGE_NUMBER}
			{% endif %}
		</div>
		{% endif %}
	</div>

	<div class="panel bg1">
		<div class="inner">
			<div class="tpotm-container">
				{% for tpotm_ever in loops.tpotm_ever %}
				<div class="tpotm-flex-cell">
					<div class="tpotm-flex-item">
						<div class="tpotm-flex-avatar">
							{{ tpotm_ever.USER_AVATAR }}
						</div>
						&nbsp;{{ tpotm_ever.USERNAME }}
						<div class="tpotm-flex-text">
							{{ lang('TPOTM_TOT_POST') }}{{ lang('COLON') }}&nbsp;{{ tpotm_ever.TOTAL_POSTS	}}
						</div>
						<div class="tpotm-flex-text">
							{{ lang('TPOTM_LAST_POST_IN_MONTH') }}{{ lang('COLON') }}&nbsp;{{ tpotm_ever.POST_TIME	}}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="action-bar top">
		{% if loops.pagination or TOTAL_USERS %}
		<div class="pagination">
			 {COUNT}
			{% if loops.pagination %}
				{% include 'pagination.html' %}
			{% else %}
				&bull; {PAGE_NUMBER}
			{% endif %}
		</div>
		{% endif %}
	</div>
{% else %}
	<div class="tpotm-div-1 tpotm-div-5">{{ lang('TPOTM_HALL_NO_TOP_POSTERS') }}</div>
{% endif %}
{# end Hall of fame #}

{% include 'jumpbox.html' %}

{% include 'overall_footer.html' %}

{% endif %}
