services:
    threedi.tpotm.controller:
        class: threedi\tpotm\controller\main
        arguments:
            - '@auth'
            - '@dbal.conn'
            - '@config'
            - '@controller.helper'
            - '@pagination'
            - '@request'
            - '@template'
            - '@user'
            - '@threedi.tpotm.tpotm'
            - '%core.php_ext%'
            - '%core.root_path%'

    threedi.tpotm.tpotm:
        class: threedi\tpotm\core\tpotm
        arguments:
            - '@auth'
            - '@cache'
            - '@config'
            - '@dbal.conn'
            - '@ext.manager'
            - '@user'
            - '@path_helper'
            - '@template'
            - '%core.root_path%'
            - '%core.php_ext%'

    threedi.tpotm.listener:
        class: threedi\tpotm\event\listener
        arguments:
            - '@request'
            - '@controller.helper'
            - '@template'
            - '@user'
            - '@threedi.tpotm.tpotm'
            - '%core.php_ext%'
        tags:
            - { name: event.listener }
